@import "./style.css";


.header {
    display: flex;
    height: 18vh;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.form-title {
    font-size: 40px;
    font-weight: bold;
    line-height: 57px;
    color: var(--blue);
    height: 100%;
    margin: 0;
    padding: 0;
}

.section-divider {
    width: 100%;
    height: 5.5vh;
    background-color: var(--blue);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 6vh;
    vertical-align: middle;
    padding-left: 15vw;
    padding-right: 15vw;
}

.section-content {
    display: flex;
    padding-left: 15vw;
    padding-right: 15vw;
}

.bottombar {
    width: calc(100% - 200px);
    height: 100px;
    box-shadow: 4px 0px 10px rgb(159, 158, 158);
    float: right;
    position: fixed;
    z-index: 1;
    bottom: 0; 
    right: 0; 
    background-color: var(--tan);
    display: flex;
}

.nav-burger {
    padding: 10px;
    vertical-align: middle;
    margin-right: 25px;
}