@import "./style.css";

.section-divider {
    width: 100%;
    background-color: var(--blue);
    color: white;
    height: 40px;
}

.section-content {
    display: flex;
}

.bottombar {
    width: calc(100% - 200px);
    height: 100px;
    box-shadow: 4px 0px 10px rgb(159, 158, 158);
    float: right;
    position: fixed;
    z-index: 1;
    bottom: 0; 
    right: 0; 
    background-color: var(--tan);
}