<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <aside class="sidebar is-narrow-mobile is-fullheight section is-hidden-mobile has-background-dark">

        <p class="menu-label">
            Navigation
        </p>

        <ul class="menu-list">
            <li>
                <a href="#" class="">
                    <span class="icon">
                        profile icon
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <span class="icon">
                        settings icon
                    </span> 
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <span class="icon">
                        home icon
                    </span> 
                </a>
            </li>
            </ul>

      </aside>
</body>