<!-- 
BOILERPLATE:
    <div>
        <div id="nav-placeholder">
        </div>
        <script>
            $(function(){
            $("#nav-placeholder").load("../components/sidebar.html");
            });
        </script>
    </div> 
-->

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="sidebar is-narrow-mobile is-fullheight section is-hidden-mobile has-background-light">

        <a  href="../pages/index.html">
            <img class="logo" src="../assets/logoBlue.png">
        </a>
 
        <ul class="">
            <li>
                <a href="#" class="">
                    <span class="icon">
                        <img src="../assets/profileIcon.png">
                    </span>
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <span class="icon">
                        <img src="../assets/settingsIcon.png">
                    </span> 
                </a>
            </li>
            <li>
                <a href="#" class="">
                    <span class="icon">
                        <img src="../assets/settingsIcon.png">
                    </span> 
                </a>
            </li>
        </ul>

    </div>
</body>