<!DOCTYPE html>
<html>

<head>
    <title>Client Page</title>
    <link rel="stylesheet" href="../client_page.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>

<body class="has-background-light has-text-centered">
    
    <div class="wrapper">
        <!-- left-side space for vertical navbar -->
        <div>
            <div id="nav-placeholder">
            </div>
            <script>
                $(function(){
                $("#nav-placeholder").load("../components/sidebar.html");
                });
            </script>
        </div>

        <div class="content-section">
            <!-- {% for entry in client_entry %} -->

            <!-- {% buttons %} -->
            <a href="{% url 'addform' slug=entry.slug %}">
                <button class="form-button">
                    <!-- {% bootstrap_icon "plus" %}  -->
                    + ADD FORM
                </button>
            </a>
            <!-- {% endbuttons %}

            {% buttons %} -->
            <a href="{% url 'deleteform' slug=entry.slug %}">
                <button class="form-button">
                    <!-- {% bootstrap_icon "minus" %}  -->
                    - DELETE FORM
                </button>
            </a>
            <!-- {% endbuttons %} -->

            <form method="POST">
                <!-- {% csrf_token %}
                {{ form }} -->
            </form>
            
            <a class="nav-item nav-link form-button" href="{% url 'upload_document' slug=entry.slug %}">
                UPLOAD DOCUMENT
            </a>

            <div class="media">
                <!-- <img src="/media/{{entry.image}}" class="rounded-circle account-img" /> -->
                <img src="../media/client_pics/red-tailed-hawk.png" class="rounded-circle account-img" />
                <div class="media-body">
                    <h2 class="account-heading">
                        <!-- {{ entry.first_Name }} -->
                        first_name
                    </h2>
                    <p class="text-secondary">
                        <!-- {{ entry.client_Intake_Date}} -->
                        client_Intake_Date
                    </p>
                </div>
                <!-- {% for app in formlist %} -->
        
                <a class="nav-item nav-link"href="{% url 'application_home' slug1=entry.slug slug2=app.slug%}">
                    <!-- {{app.application_Name}} -->
                    application_Name
                </a>
                <!-- {% endfor %}
                {% endfor %} -->
            </div>
    
        </div>
    </div>
</body>

</html>